.contenedor{
    width: 100vw;
    float: left;
    position: static;
    top: 0%;
    left: 0%;
    
  
}

.head{
    top: 0%;
    left: 0%;
    width: max-content;
    position: relative;
    float: left;
    width: 100vw;
    height: 100%;
    
}
.i1{
    
    
    top: 0px;
    left: 0px;
    width: 100%;
    float: left;
}

.slider{
    position: absolute;
    width: 100%;
    float: left;
    top: 0%;
    z-index: 2;
    
}
.slider img{

    width: 100%;

    
}

.frase{
    float: left;
    position: absolute;
    top: 0px;
    width: 40%;
    z-index: 2;
}

.frase img{
    width: 100%;
}
.botones{
    float: left;
    position: absolute;
    margin-left: 41%;
    width: 18%;
   
    z-index: 4;
    top: 40%;
}
.botones img{
    
    display: inline-block;
    margin-left: 20%;
    width: 7%;
}


.fondo {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    z-index: 1;
}

.head .letras{
    position: absolute;
    top: 250px;
    z-index: 5;
    width: 100%;
    
}
.caja{
    float: left;
    
    background-color: aqua;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    
}

.medicos{
    float: left;
    top: 0%;
    left: 0%;
    width: 100%;


}

.medicos img{
    float: left;
    top: 0%;
    left: 0%;
    width: 100%;

}


.foot{
    float: left;
    top: 0%;
    left: 0%;
    position: relative;



    width: 100%;
    
  
}

.alianza{
    float: left;
    background-image: url('/assets/images/alianza-fondo.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    width: 100%;
    height: 300px;

}

.alianza h2{
    
    padding-top: 2%;
    font-size: 200%;
    text-align: center;
    color: #ffffff;
    font-family: "Lucida Sans";
}

.imagen-alianza{
    float: left;
    display: block;
    width: 50%;
    height: 30%;
    
}

.imagen-alianza img{
    display: inline-block;
    
   
    
}
.chevron img{
    height:100%;
  margin-left: 25%;

}
.sociedad img{
    height:85%;
}

.rotary img{
    width: 80%;


}

.robotica img{
    width: 80%;
}

.frase{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
}

.frase img{
    float: left;
    width: 40%;
}

.palabras{
    
    position: absolute;
    float: left;
    background-image: url('/assets/images/fondofrase.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 60%;
    height: 100%;
    top: 0%;
    right: 0;

}
.palabras p{
    font-family: "Lucida Sans";
    font-size: 70%;
    text-align: center;
}
.palabras img{
    width: 100%;
}

.menu-home{
    font-family: "Lucida Sans";
    float: left;
    width: 100%;
    position: relative;
    
    background-color: blue;
    text-align: center;


}

.nosotros-botones{
    float: left;
    position: relative;
    width: 100%;
    background-color: brown;
}

.nosotros-botones img{
    background-color: black;
    width: 33%;
}

.mensaje {
    float: left;
    background-color: green;
}

.nosotros-redes{
    float: left;
    margin-left: 35%;
    position: relative;
    width: 30%;
    background-color: black;
}

.nosotros-redes img{
    width: 25%;
}



@media (min-width:480px){
    .palabras p{
        font-family: "Lucida Sans";
        font-size: 100%;
        text-align: center;
    }

}

@media (min-width:768px){
    .palabras p{
        font-family: "Lucida Sans";
        font-size: 150%;
        text-align: center;
    }


    .imagen-alianza{
        float: left;
        display: block;
        width: 25%;
        height: 30%;
        
    }

}

@media (min-width:1024px){
    .caja{
        height: 250px;
    }
    .alianza{
        
        width: 55%;
        height: 286px;
    
    }

    

    .frase{
        position: relative;
        right: 0%;
        width: 45%;
        height: 100%;
        
    }
    .frase .foto{
        height: 100%;
    }

    .palabras p{
        font-family: "Lucida Sans";
        font-size: 90%;
        margin-right: 15px;
        text-align: center;
    }



    .chevron img{
        height:90%;
        
    
    }
    .sociedad img{
        height:75%;
    }
    
    .rotary img{
        margin-top: 20px;
        width: 65%;
        
    
    }
    
    .robotica img{
        margin-top: 20px;
        width: 80%;
    }
    .alianza h2{
    
        margin-bottom: 60px;
    }










}

