<div class="contenedor">

    <div class="head">
        <img src="/assets/images/muetra.png" alt="">

        <div class="frase">
            <img src="/assets/images/frase.png" alt="">
        </div>
        <div class="botones">
            <img src="/assets/images/puntoblanco.png" alt="">
            <img src="/assets/images/puntoblanco.png" alt="">
            <img src="/assets/images/puntoverde.png" alt="">

        </div>

        
            <img src="/assets/images/fondo.png" alt="" class="fondo">
        

    </div>

</div>
