<div class="contenedor">
    <div class="head">

        <!-- <img src="/assets/images/muetra.png" alt=""> -->

        
        <img src="/assets/images/muetra.png" alt="" [@visibility2]="v1" class="i1">
 

        
        <img src="/assets/images/muetra.png" alt="fondo" class="fondo" [@visibility2]="v2" >
        <img src="/assets/images/muetra.png" alt="fondo" class="fondo" [@visibility2]="v3" >

        <div class="botones">
            <img src={{b1}} alt="" (click)="sliderEvento(1)">
            <img src={{b2}} alt="" (click)="sliderEvento(2)">
            <img src={{b3}} alt="" (click)="sliderEvento(3)">

        </div>

        
        <img src="/assets/images/head.png" alt="" class="fondo">
            
    </div>



</div>
    <div class="caja">

    </div>

    <div class="medicos">
        <img src="/assets/images/medicos.jpg" alt="">
    </div>




    <div class="foot">
        <div class="alianza">
            <h2>Alianza</h2>
            
            <div class="imagen-alianza chevron">
            <img src="/assets/images/chevron.png" alt="">
            </div>

            <div class="imagen-alianza sociedad">
            <img src="/assets/images/Sociedad.png" alt="" >
            </div>
            <div class="imagen-alianza rotary">
            <img src="/assets/images/rotary.png" alt="">
            </div>

            <div class="imagen-alianza robotica">
            <img src="/assets/images/robotica.png" alt="">
            </div>
        </div>

        <div class="frase">
            <img src="/assets/images/foto.jpg" alt="" class="foto">

            <div class="palabras">
                <p>ONCOALIADO  se ha dedicado a transmitir a la comunidad, que este emprendimiento, basado en un proyecto social ideado por la Profesora CARMEN MORENO DE GONZÁLEZ, apoyado por voluntarios, instituciones públicas y privadas; sin distingos de credos, posiciones ideológicas y estratos sociales, lleva una esperanza de vida a la persona aquejada de esta enfermedad, siendo ejemplo de trabajo y compromiso.</p>
                <img src="/assets/images/El-lado-humano-de-la-oncologia.png" alt="">
            </div>
        </div>


    </div>

    
