
<app-slider [imagenes]="Imagenes" ></app-slider>

<div class="contenedor">

</div>
    <div class="menu-home">
        <h2>SobreNOSOTROS</h2>

        <div class="home-botones">
            <img src="/assets/images/mision.png" alt="" (click)="NosotrosEvento(1)" class="im-mision">
        <img src="/assets/images/objetivo.png" alt="" (click)="NosotrosEvento(2)" class="im-objetivo">
        <img src="/assets/images/Alcance.png" alt="" (click)="NosotrosEvento(3)" class="im-alcance">
        </div>

        <div class="home-texto mision" >
            <p>Brindar apoyo a la población oncológica e integrar esfuerzos en la Prevención del Cáncer, fomentando alianzas con Empresas, Instituciones Públicas o Privadas, que permitan, mejorar la calidad de vida de los pacientes oncológicos y disminuir los factores de riesgo de adquirir la enfermedad.</p>
            
        </div>
        <div class="home-texto objetivo" >
            <p>Oncoaliado atiende a la población infantil, juvenil, adulta y de la 3era edad con especial atención a las comunidades indígenas y rurales del Estado Anzoátegui.</p>
            
        </div>
        <div class="home-texto alcance" >
            <p><b>SALUD:</b> 
                Apoyar en la Salud integral de los pacientes oncológicos, focalizándonos en la medicina preventiva y Diagnóstico temprano del cáncer, y tratamientos oncológicos ambulatorios.
            </p>
            <p>  
               <b> EDUCACIÓN:</b>
                Establecer programas de orientación y educación a la comunidad sobre la importancia de la prevención y diagnóstico precoz del cáncer para superar esta enfermedad. Apoyar en la formación de los profesionales de la medicina y carreras afines que intervienen en la salud integral de un paciente oncológico y motivar a los estudiantes para que direccionen sus carreras en especialidades de oncología.
            </p>  
            <p>  
               <b> APOYO COMUNITARIO:</b>
                acompañar al paciente oncológico y sus familiares en el tránsito de esta enfermedad, brindándoles apoyo emocional, Calidad de Vida y Bienestar.</p>
            
        </div>


        <div class="home-redes" >
            <img src="/assets/images/facebook.png" alt="">
            <img src="/assets/images/whatsaap.png" alt="">
            <img src="/assets/images/twitter.png" alt="">
            <img src="/assets/images/instagram.png" alt="">
        </div>



    </div>





    

    <div class="medicos">
        <img src="/assets/images/medicos.jpg" alt="">
    </div>




    <div class="foot">
        <div class="alianza">
            <h2>Alianza</h2>
            
            <div class="imagen-alianza chevron">
            <img src="/assets/images/chevron.png" alt="">
            </div>

            <div class="imagen-alianza sociedad">
            <img src="/assets/images/Sociedad.png" alt="" >
            </div>
            <div class="imagen-alianza rotary">
            <img src="/assets/images/rotary.png" alt="">
            </div>

            <div class="imagen-alianza robotica">
            <img src="/assets/images/robotica.png" alt="">
            </div>
        </div>

        <div class="frase">
            <img src="/assets/images/foto.jpg" alt="" class="foto">

            <div class="palabras">
                <p>ONCOALIADO  se ha dedicado a transmitir a la comunidad, que este emprendimiento, basado en un proyecto social ideado por la Profesora CARMEN MORENO DE GONZÁLEZ, apoyado por voluntarios, instituciones públicas y privadas; sin distingos de credos, posiciones ideológicas y estratos sociales, lleva una esperanza de vida a la persona aquejada de esta enfermedad, siendo ejemplo de trabajo y compromiso.</p>
                <img src="/assets/images/El-lado-humano-de-la-oncologia.png" alt="">
            </div>
        </div>


    </div>

    
