<div class="contenido">

    
    <!-- <div class="slides">
    <img src="/assets/images/muetra.png" alt="" >
    <img src="/assets/images/muetra.png" alt="" >
    <img src="/assets/images/muetra.png" alt="">
    </div> -->

    <div class="fondo">
    <img src="/assets/images/head.png" alt="" class="fondo">
    </div>

    <div class="botones" [@visibility2]="botones">
        <img src={{b1}} alt="" (click)="sliderEvento(1)">
        <img src={{b2}} alt="" (click)="sliderEvento(2)">
        <img src={{b3}} alt="" (click)="sliderEvento(3)">

    </div>


</div>

<img src={{i1}} alt="" class="sli" [@visibility2]="v1">
<img src={{i1}} alt="" class="sli" [@visibility2]="v2">
<img src={{i1}} alt="" class="sli" [@visibility2]="v3">
