<div class="contenedor">
    <div class="contacto">
        <h2>Contáctanos</h2>
        <p>Asociación civil Oncoaliados</p>
        <p>profesora Carmen Moreno De Gonzalez</p>
        <p>Rif: J-40464733-3</p>
        <p>Dirección_ Av. Granada C/C Guarico</p>
        <p>Sector Valle lindo, Cantaura.</p>
        <p>Municipio General Pedro Maria Freitas,</p>
        <p>Anzoategui-Venezuela.</p>

        
            <div class="telefono">
                <img src="/assets/images/telefono.png" alt=""> <p class="p-telefono">+582825147433</p>
            </div>

            <div class="correo">
                <img src="/assets/images/correo.png" alt=""> <p class="p-correo">Email:oncoaliado@gmail.com</p>
            </div>
        

        <div class="ubicanos">
            <div class="ubicacion">
                <img src="/assets/images/Aqui.png" alt=""> 
            </div>

            <div class="redes">
                <div class="iconos">
                    <img src="/assets/images/facebook.png" alt=""> 
                    <img src="/assets/images/whatsaap.png" alt=""> 
                    <img src="/assets/images/twitter.png" alt=""> 
                    <img src="/assets/images/instagram.png" alt=""> 
                </div>

                <div class="map">
                    <img src="/assets/images/Google-maps.png" alt=""> 
                </div>

            </div>

        </div>

    </div>

    <div class="formulario">

    </div>



</div>
