<div class="barra">
    <img src="/assets/images/Logo.png" alt="" class="logo">

    <img src="/assets/images/lineas.png" alt="" class="lineas" (click)="menu()">
    <img src="/assets/images/login.png" alt="" class="login" (click)="menuLogin()">
    <div class="opciones">
        
        
        <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
        <a routerLink="/telemedicina" routerLinkActive="active">Telemedicina</a>
        <a routerLink="/home" routerLinkActive="active">Contactos</a>
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>

    

</div>


<div class="menu" [@visibility]="visibility" (window:resize)="onResize()">
    <a routerLink="/home" >Home</a>
    <a href="">Contactos</a>
    <a routerLink="/telemedicina">Telemedicina</a>
    <a routerLink="/eventos">Eventos</a>
    <a routerLink="/login">Ingresar</a>
    <a routerLink="/registro">Registro</a>
</div>

<div class="menulogin" [@visibility2]="visibility2">
    <p>Inicio de Sesión</p>
    <input type="Correo" placeholder="Correo">
    <input type="Contraseña" placeholder="Contraseña">
    <button>Registrate</button>

</div>