
<app-nav></app-nav>

<!-- <a routerLink="/home">home</a>
<a routerLink="/login">Login</a>
<a routerLink="/registro">Registro</a>
<a routerLink="/eventos">Eventos</a>
<a routerLink="/telemedicina">Telemedicina</a>
<a routerLink="/gestionCitas">Gestion de citas</a>
<a routerLink="/crearCita">Crear cita</a>
<a routerLink="/gestionUsuarios">Gestion de usuarios</a>
<a routerLink="/crearUsuario">Crear Usuario</a>
<a routerLink="/gestionPagos">Gestion de pagos</a>
<a routerLink="/gestionEventos">Gestion de eventos</a>
<a routerLink="/crearEvento">Crear eventos</a>
<a routerLink="/gestionTipoCita">Gestion tipo de citas</a>
<a routerLink="/crearTipoCita">Crear tipo cita</a> -->





<router-outlet></router-outlet>