<div class="contenedor">
    <h2>DonacionesPagos</h2>
    
    <div class="pagos">

        <div class="lf">
            <img src="/assets/images/banesco.png" alt="">
            <p>Cta.Corriente N 0134-03339-24-3391110224</p>
        </div>

        <div class="lr">
            <img src="/assets/images/Zelle.png" alt="">
            <p>Oncoaliadoinusa@gmail.com</p>
        </div>

        <div class="lf">
            <img src="/assets/images/caroni.png" alt="">
            <p>Cta.Corriente N 0129-0065-73-6500997173</p>
        </div>




        <div class="lr">
            <img src="/assets/images/nodus.png" alt="">
            <p>COUNT NUMBER: 000011563 ABA 0215-0226-0</p>
        </div>
    </div>

</div>
